<nav class="shadow p-3 mb-5 bg-white navbar navbar-expand-lg navbar-light bg-info fixed-top">
    <img class='mb-2 mr-2 huerotate' [src]="logo" alt="logo logo" />
    <a class="navbar-brand logoFont" style="color: #68829E;">Rolust Brahman Cattle</a>
 
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/iconspage">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/aboutus">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cowprofiles">Cattle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contactus">Contact Us</a>
            </li>
        </ul>

        <i class="far fa-user-circle iconColor fa-lg"></i>
    </div>
    <div class=" shadow bg-white p-3 mt-5 bottom-bar fixed-bottom p-2 d-sm-none d-grid shadow ">
        <div>
            <a routerLink="/" class="nav-link-style" [class.active-nav-link-bottom]="isAtHomePage">

                <i class="fas fa-home iconColor fa-lg"></i>
            </a>
        </div>

        <div>
            <a routerLink="/cowprofiles" class="nav-link-style" [class.active-nav-link-bottom]="isAtProfilePage">
                <!-- <i class="far fa-user-circle iconColor fa-lg"></i> -->
                <img [src]="logo" />
            </a>
        </div>

        <div>
            <a routerLink="/contactus" class="nav-link-style" [class.active-nav-link-bottom]="isAtProfilePage">
                <i class="fas fa-envelope iconColor fa-lg"></i>
            </a>
        </div>
    </div>
</nav>